
@media (max-width: 600px) {
    .form1 {
      width: 80%;
    }
  
    .form-control {
      width: 100% !important;
    }
  
    .btn-primary {
      width: 100% !important;
    }
  }



.signup{
    background-color:#205387;
    min-height:100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form1 {
    width:450px;
    margin-top:30px;
    margin-bottom:0px;
   
} 
.form2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    height:auto;   
    margin-top:15px;
    
}

.form1 h2{
    color: #ffff;
    margin-left: 15px;
}


.form2 > h3 {
    margin-top: 30px;
    color: #205387;

}
.form-control{
   width:380px !important;
   height:35px !important;
   border: 2px solid #9B9A9A !important;
   border-radius: 6px !important ;
  
}

.form-label{
   
   font-weight: bold;
   margin-top: 10px;
  
}

.Createbtn  {
    width: 380px ;
    height:45px ;
    color: #ffff;
    font-weight: bold;
    border-radius:1px;
    background-color:#205387 !important;
    border-radius: 6px !important ;

}



.text-input{
    width:178px !important;
}

.form3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:15px !important;
     
}

.input-number{
    margin-top: 40px;
    
}

.icon1 {
    font-size: 30px;
    color: #ffff;
  

}

.num1 {
    width:80px !important;
}
.num2{
    width:265px !important;
   
}